In [48]:
import pandas as pd
import numpy as np

In [3]:
arr=pd.Series([1,2,3,4])
print(arr)

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
arr=pd.Series([1,2,3,4,"abc"])
print(arr)

0      1
1      2
2      3
3      4
4    abc
dtype: object

In [6]:
print(arr.dtype)
print(arr.index)

object
RangeIndex(start=0, stop=5, step=1)

In [7]:
print(arr.name)

None

In [8]:
arr.name="Numbers"
print(arr)

0      1
1      2
2      3
3      4
4    abc
Name: Numbers, dtype: object

## Indexing

In [11]:
print(arr[0])
print("\n",arr[0:3])

1

 0    1
1    2
2    3
Name: Numbers, dtype: object

## iloc -> location based indexing

In [16]:
print(arr.iloc[3])
print(arr[3])

print("\n",arr.iloc[[1,3]])

4
4

 1    2
3    4
Name: Numbers, dtype: object

In [24]:
index= ["apple","banana","grapes","mango"]
arr=pd.Series([10,20,30,40])
arr.index=index
arr.name="calories"
print(arr)

print(arr["grapes"])
# Error ->  iloc only works with numeric indexing

# print(arr.iloc['banana'])  -> Give error

apple     10
banana    20
grapes    30
mango     40
Name: calories, dtype: int64
30

## loc -> label based indexing
### In label based indexing your start as well as stop value both are included in the output

In [26]:
print(arr.loc[["banana","mango"]])

banana    20
mango     40
Name: calories, dtype: int64

In [28]:
print(arr["banana":"mango"])

banana    20
grapes    30
mango     40
Name: calories, dtype: int64

In [29]:
dict = {
    "apple":40,
    "mango":60,
    "pears":70
    }
arr2=pd.Series(dict,name="proteins")
print(arr2)

apple    40
mango    60
pears    70
Name: proteins, dtype: int64

## Conditional Selection

In [36]:
print(arr2>40)

apple    False
mango     True
pears     True
Name: proteins, dtype: bool

In [39]:
print(arr2[arr2>40])

mango    60
pears    70
Name: proteins, dtype: int64

## Logical Operators

In [41]:
print((arr2>50) & (arr2<65))

apple    False
mango     True
pears    False
Name: proteins, dtype: bool

In [44]:
print(arr2[(arr2>70) | (arr2<65)])

apple    40
mango    60
Name: proteins, dtype: int64

In [45]:
print(arr2[~(arr2>60)])

apple    40
mango    60
Name: proteins, dtype: int64

## Modifying the series

In [47]:
arr2["apple"]=100
print(arr2)

apple    100
mango     60
pears     70
Name: proteins, dtype: int64

In [59]:
ser=pd.Series(['a',np.nan,1,np.nan,2])
print(ser.notnull().sum())

3

## Data Frames

In [64]:
data = {
    "Name":["Rohan","Mohan"],
    "age":[23,36],
    "Salary":[45000,60000],
    "Department":["Frontend","manager"]
}
df=pd.DataFrame(data)
print(df)

    Name  age  Salary Department
0  Rohan   23   45000   Frontend
1  Mohan   36   60000    manager

In [65]:
df.head(2) # print first two rows

    Name  age  Salary Department
0  Rohan   23   45000   Frontend
1  Mohan   36   60000    manager

In [66]:
df.tail(1) # print last row

    Name  age  Salary Department
1  Mohan   36   60000    manager